body {
  height: 100%;
  padding-top: 3.125em;
  padding-bottom: 1.875em; }

.btn-phone {
  position: absolute;
  top: 0.625em;
  right: 1.875em; }

ul {
  list-style-type: none; }

nav.navbar.navbar-inverse.navbar-fixed-top {
  height: 6.250em; }
  nav.navbar.navbar-inverse.navbar-fixed-top .navbar-header {
    padding-left: 6.250em; }
    nav.navbar.navbar-inverse.navbar-fixed-top .navbar-header .navbar-brand .logoHold {
      height: 6em;
      position: absolute;
      left: 40px;
      top: 40px; }
      nav.navbar.navbar-inverse.navbar-fixed-top .navbar-header .navbar-brand .logoHold .house {
        background: url(../img/logo/House.png) no-repeat;
        position: absolute;
        left: -16px;
        top: -32px;
        width: 72px;
        height: 76px; }
      nav.navbar.navbar-inverse.navbar-fixed-top .navbar-header .navbar-brand .logoHold .tail {
        background: url(../img/logo/Tail.png) no-repeat;
        position: absolute;
        left: 12px;
        top: -3px;
        width: 30px;
        height: 36px; }
  nav.navbar.navbar-inverse.navbar-fixed-top #navbar {
    padding-top: 0.313em;
    font-size: 1.750em; }

.page-titles-home h1 {
  font-size: 10em;
  color: deepskyblue;
  position: absolute;
  z-index: 12;
  top: 70%;
  left: 0;
  width: 100%;
  text-align: center; }

.page-titles {
  height: 100vh; }
  .page-titles h1 {
    font-size: 10em;
    color: deepskyblue;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100%;
    text-align: center; }

.full .full-about {
  background: url("../img/Tasmanian_Devil_markings.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.full .full-boarding {
  background: url("../img/Beagle_puppy_sitting_on_grass.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.full .full-contact {
  background: url("../img/bw.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.full .full-location {
  background: url("../img/Running_in_the_grass_yardJPG.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.info h2 {
  font-size: 3.125em;
  text-align: center; }
.info img {
  height: 500px;
  width: 500px; }
.info .info-info {
  padding-top: 5%; }

footer {
  margin: 50px;
  background-color: cornflowerblue; }

.dogs {
  height: 250px;
  background-color: white; }
  .dogs .no-pad {
    padding: 0; }
  .dogs .img-responsive {
    min-height: 250px;
    max-height: 250px;
    min-width: 16.66667%; }

.contact-form {
  clear: both; }

.testimonials {
  clear: both; }
  .testimonials img {
    max-width: 80%; }

.locationCards .row .infoCard {
  padding-top: 5%;
  padding-bottom: 5%; }
.locationCards .row #mapped {
  height: 600px;
  margin: 0;
  padding: 0; }
