nav.navbar.navbar-inverse.navbar-fixed-top {
  height: 6.250em;

  .navbar-header {
    padding-left: 6.250em;

    .navbar-brand {

      .logoHold {
        height: 6em;
        position: absolute;
        left: 40px;
        top: 40px;

        .house {
          background: url(../img/logo/House.png) no-repeat;
          position: absolute;
          left: -16px;
          top: -32px;
          width: 72px;
          height: 76px;
        }
        .tail {
          background: url(../img/logo/Tail.png) no-repeat;
          position : absolute ;
          left : 12px;
          top : -3px;
          width : 30px;
          height : 36px;

          &:hover {
          }
        }
      }


    }
  }

  #navbar {
    padding-top: 0.313em;
    font-size: 1.750em;
  }
}