nav.navbar.navbar-inverse.navbar-fixed-top {
  height: 60px;
  margin-right: 0;

  .btn-phone {
    position: absolute;
    top: em(20);
    left: em(100);
    background-color: $red;
    border-color: lighten($red, 10);
    font-weight: 600;

    @media screen and(max-width: 400px) {
      width: 100vw;
      left: 0;
      top: 100px;
    }
  }

  .navbar-header {

    @media screen and(max-width: 400px) {
      width: 100vw;
    }

    .navbar-brand {
      width: 370px;
      padding:0;
      margin: 0;

      @media screen and(max-width: 850px) {
        width: 280px;
      }

      @media screen and(max-width: 450px) {
        width: 55px;
      }

      .logoHold {
        width: 100%;

        img {
          width: 15%;
          max-height: 50px;

          @media screen and(max-width: 450px) {
            width: 100%;
          }
        }
        .logoText {
          width: 85%;
          float: right;
          line-height: 0.5;

          @media screen and(max-width: 850px) {
            span {
              display: none;
            }
          }

          @media screen and(max-width: 450px) {
            display: none;
          }
        }
      }
    }
  }

  #navbar {
    padding-top: 0.313em;
    font-size: 1.750em;

    ul > li {
      border-right: 1px solid $darkGrey;

      a {
        color: #fff;
      }
    }


    @media screen and(max-width: 767px){
      background-color: $darkGrey;
    }

    &.right {
      float: right !important;
    }
  }
}