.phone {
  position: absolute;
  top: 70px;
  margin-left: 15px;
  padding: 3px 10px;
  z-index: 12;
  text-align: center;
  background-color: $red;
  opacity: 0.8;
  border-radius: 5px;
  box-shadow:
  inset 0 5px lighten($darkBrown, 30),
  inset 0 -5px $darkBrown,
  inset 5px 0 lighten($darkBrown, 30),
  inset -5px 0 $darkBrown;

  span {
    font-size: 24px;
    color: #000;
    opacity: 1;
  }
}
.page-titles-home  {

  h1 {
    font-size: 10em;
    color: deepskyblue;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100vw;
    text-align: center;

    @media screen and(max-width: 730px) {
      font-size: em(100);
    }

    @media screen and(max-width: 550px) {
      font-size: em(72);
    }

    @media screen and(max-width: 400px) {
      font-size: em(48);
    }
  }
}

.page-titles  {
  height: 100vh;

  h1 {
    font-size: 10em;
    color: deepskyblue;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}