.page-titles-home  {

  h1 {
    font-size: 10em;
    color: deepskyblue;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100vw;
    text-align: center;

    @media screen and(max-width: 730px) {
      font-size: em(100);
    }

    @media screen and(max-width: 550px) {
      font-size: em(72);
    }

    @media screen and(max-width: 400px) {
      font-size: em(48);
    }
  }
}

.page-titles  {
  height: 100vh;

  h1 {
    font-size: 10em;
    color: deepskyblue;
    position: absolute;
    z-index: 12;
    top: 70%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}